* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  background-color: beige;
}

h1 {
  font-weight: 600;
  font-family: sans-serif;
  padding: 30px 60px;
  background-color: rgb(33, 37, 41);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.scores {
  font-size: medium;
  font-family: sans-serif;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 1.6rem;
  gap: 70px;
  padding: 2rem;
}

h4 {
  border-radius: 15px;
  background-color: rgba(136, 255, 0, 0.863);
  width: 100px;
  height: auto;
  padding: 20px;
}

.CS {
  background-color: #ead2ff;
}

.card-container {
  padding: 30px 10px;
  margin: 0 auto;
  justify-content: center;
  grid-gap: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.card {
  margin: 0 auto;
  border: 1px solid blue;
  width: 8rem;
  height: 14rem;
  border-radius: 20px;
  box-shadow: 10px 5px rgba(0, 0, 255, 0.436);
}

.card:hover {
  cursor: ;
}
