* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  background-color: white;
}

h1 {
  font-weight: 600;
  font-family: sans-serif;
  padding: 30px 60px;
  background-color: rgb(33, 37, 41);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.scores {
  font-size: medium;
  font-family: sans-serif;
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 5rem;
  padding-top: 2rem;
}

h4 {
  border-radius: 15px;
  background-color: rgba(136, 255, 0, 0.863);
  width: 100px;
  height: auto;
  padding: 20px;
}

.card-container {
  max-width: 900px;
  padding: 4rem 2rem;
  margin: 0 auto;
  justify-items: center;
  grid-gap: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.card {
  margin: 0 auto;
  border: 0.5px solid black;
  width: 7rem;
  height: 12rem;
  border-radius: 20px;
  box-shadow: 10px 5px rgba(0, 0, 4, 0.718);
  transition: transform 0.2s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
