* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  background-color: white;
}

h1 {
  font-weight: 600;
  font-family: sans-serif;
  padding: 30px 60px;
  background-color: rgb(33, 37, 41);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.scores {
  font-size: medium;
  font-family: sans-serif;
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 5rem;
  padding-top: 2rem;
}

h4 {
  margin-left: 0;
  border-radius: 15px;
  background-color: rgba(136, 255, 0, 0.863);
  width: 10rem;
  height: auto;
  padding: 20px;
}
.card-container {
  max-width: 880px;
  padding: 4rem 2rem;
  margin: 0 auto;
  align-items: center;
  justify-items: center;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
}

.card {
  margin: 0 auto;
  border: 0.5px solid black;
  width: 100%;
  height: 13rem;
  border-radius: 20px;
  box-shadow: 10px 5px black;
  transition: transform 0.2s ease;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 20px;
  padding: 25px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100; /* iznad svih kartica */
}

.hidden {
  display: none;
}

.modal-box {
  background: white;
  padding: 2rem 3rem;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.6);
}

.modal-box h2 {
  margin: 0 0 1rem 0;
  font-size: 2rem;
}

.modal-box p {
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
}

#playAgainBtn {
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background-color: rgb(136, 255, 0);
  font-weight: bold;
  transition: 0.2s ease;
}

#playAgainBtn:hover {
  transform: scale(1.05);
  background-color: rgb(100, 200, 0);
}
